<div class="login-container">
     <mat-card class="login-card">
         <h2>Login Here</h2> 
         <form [formGroup]="loginForm" (ngSubmit)="login()"> 
            <mat-form-field appearance="fill" class="full-width">
                 <mat-label>Username</mat-label> 
                 <input matInput formControlName="username" placeholder="Enter username"> 
                </mat-form-field> <mat-form-field appearance="fill" class="full-width">
                     <mat-label>Password</mat-label> 
                     <input matInput type="password" formControlName="password" placeholder="Enter password">
                     </mat-form-field> 
                     <button mat-raised-button type="submit" color ="primary" class="full-width"
                      [disabled]="loginForm.invalid">
                         Login 
                     </button> 
                    </form> 
                </mat-card> 
            </div>
